/* BASE COLOR */
:root {
    --clr-light-purple: #c56cf0;
    --clr-young-salmon: #ffb8b8;
    --clr-red-orange: #ff3838;
    --clr-radiant-yellow: #ff9f1a;
    --clr-dorn-yellow: #fff200;
    --clr-winter-green: #32ff7e;
    --clr-electric-blue: #7efff5;
    --clr-neon-blue: #18dcff;
    --clr-light-slate-blue: #7d5fff;
    --clr-shadow-grey: #4b4b4b;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oxygen", sans-serif;
    color: var(--clr-shadow-grey);
}

nav {
    max-width: 100%;
    background-color: var(--clr-light-slate-blue);
    height: 60px;
}

.wrapper {
    width: 100%;
}

nav .wrapper {
    display: flex;
    margin: auto;
    justify-content: space-between;
    /* max-width: 100%; */
    color: white;
    align-items: center;
    height: 60px;
}

.header-logo {
    width: 30%;
}

ul.menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

ul.menu li {
    list-style-type: none;
}

ul.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header {
    max-width: 100%;
    background-color: var(--clr-neon-blue);
}

header .wrapper,
#welcome .wrapper,
#portfolio .wrapper {
    /* max-width: 100%; */
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.wrapper h2 {
    font-family: "Bebas Neue", sans-serif;
    color: var(--clr-shadow-grey);
    font-size: 5rem;
    text-align: center;
}

#welcome .wrapper {
    background-color: var(--clr-young-salmon);
}

footer .wrapper {
    background-color: var(--clr-shadow-grey);
    color: white;
}

footer .wrapper a {
    color: white;
    text-decoration: none;
}

.portfolio {
    display: flex;
    margin: 20px 0;
}

.portfolio-item {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 20px;
    margin: 0 10px;
    text-align: center;
}

/* mobile responsive */
/* xl */
@media screen and (min-width: 375px) {
    .header-logo {
        width: 50%;
    }

    .header-logo h1 {
        font-size: 1.3rem;
    }

    .header-logo h1 a {
        text-decoration: none;
        color: white;
    }

    nav .wrapper {
        z-index: 20;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .wrapper {
        max-width: 100%;
        position: relative;
    }

    header .wrapper,
    #welcome .wrapper,
    #portfolio .wrapper {
        height: 100vh;
    }

    .wrapper h2 {
        font-size: 3rem;
    }

    .wrapper p {
        padding: 40px;
        font-size: 1.2rem;
        text-align: center;
        font-weight: 700;
    }

    ul.menu {
        position: absolute;
        top: 60px;
        left: 0px;
        right: 0px;
        background-color: var(--clr-light-purple);
        flex-direction: column;
        width: 100%;
        z-index: 10;
        padding: 10px;
        box-sizing: border-box;
        transform: scale(0%);
        transform-origin: top;
        transition: all ease 0.2s;
    }

    ul.menu.active {
        transform: scale(100%);
    }

    ul.menu li {
        padding: 10px;
    }

    .toggleMenu {
        width: 30px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 0;
    }

    .toggleMenu span {
        width: 29px;
        height: 4px;
        background-color: white;
        transition: all ease 0.2s;
    }

    .toggleMenu #showMenu {
        position: absolute;
        width: 30px;
        height: 30px;
        opacity: 0;
        cursor: pointer;
        display: block;
        z-index: 1;
    }

    #showMenu:checked ~ :nth-child(2) {
        transform: rotate(45deg);
        transform-origin: left;
    }

    #showMenu:checked ~ :nth-child(3) {
        transform: scale(0);
    }

    #showMenu:checked ~ :nth-child(4) {
        transform: rotate(-45deg);
        transform-origin: left;
    }
}
